services:
  db:
    build:
      context: .
      dockerfile: ./docker-build/database/Dockerfile
    ports:
      - "5432:5432"
    environment:
      POSTGRES_DB: aml_db
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: password
    volumes:
      - postgres_data:/var/lib/postgresql/data

  redis:
    image: redis:7-alpine
    ports:
      - "6379:6379"

volumes:
  postgres_data:
